<div class="container">
    <form  [formGroup]="cardForm" (ngSubmit)="onSubmit()">

        <app-input label="Ad Soyad" [control]="$any(cardForm).get('name')"></app-input>
        <app-input label="Kart Numarası" [control]="$any(cardForm).get('cardNumber')"></app-input>
        <div class="columns">
            <div class="column">
                <app-input label="Son Kullanma Tarihi" [control]="$any(cardForm).get('expiration')"></app-input>     
            </div>
            <div class="column">
                <app-input label="Güvenlik Kodu" [control]="$any(cardForm).get('securityCode')"></app-input>
            </div>
        </div>
        <div class="buttons" style="display: flex; justify-content: flex-end;">
            <button class="button is-warning" (click)="ResetForm()" type="button">Temizle</button>
            <button class="button is-primary" [disabled]="cardForm.invalid" type="submit">Kaydet</button>
        </div>
        
    
    </form>
</div>


<!-- NOT: -->

<!-- <div>Formun içeriği: {{ cardForm.value | json }}</div>// formun içeriğini josn olarak formatlı bir şekilde listenelenir.
<div>Formun valid: {{ cardForm.valid ?'evet' : 'hayır' }}</div>// form valid mi değil mi kontorülü yapar tru yada false döner. 
<div>Form hataları: {{ cardForm.get('name')?.errors | json }}</div> //form hatalarForm hatalarını bastırma  -->